In [1]:
import pandas as pd
import pickle

In [2]:
prod_ranking_model = pickle.load(open('prod_ranking_modelo.pkl','rb'))
cust_prod_ranking_model = pickle.load(open('cliente_produto_ranking_modelo.pkl','rb'))
cust_correlation_model = pickle.load(open('cliente_correlacao_modelo.pkl','rb'))
prod_correlation_model = pickle.load(open('produto_correlacao_modelo.pkl','rb'))

In [3]:
datasets_preview = {
    "produto_ranking": prod_ranking_model.head(n=2),
    "cliente_produto_ranking": cust_prod_ranking_model.head(n=2),
    "cliente_correlacao": cust_correlation_model.head(n=2),
    "produto_correlacao": prod_correlation_model.head(n=2)
}

In [4]:
for name, dataset in datasets_preview.items():
    print(f"\t\t\t\t**{name}**")
    display(dataset)

				**produto_ranking**

,product_category_name,quantidade_item,review_score,rank_top_vendidos,customer_city,customer_state,no_pedidos,no_clientes,no_pedidos_ponderado,rank_popularidade
0,agro_industria_e_comercio,1,4,17832,alto piquiri,PR,1,1,0.000605,9567
1,agro_industria_e_comercio,1,4,17832,americana,SP,1,1,0.000605,9567

				**cliente_produto_ranking**

,customer_id,product_category_name,quantidade_item,rank_top_vendidos,customer_city,customer_state,review_score,no_pedidos,rank_popularidade,price
0,00012a2ce6f8dcda20d059ce98491703,brinquedos,1,98019,osasco,SP,1,1,98019,1699.99
1,000161a058600d5901f007fab4c27140,beleza_saude,1,98018,itapecerica,MG,4,1,98018,3124.00

				**cliente_correlacao**

customer_id,001f35d9f262c558fd065346fbf5801d,002c625393dfa194828b462a6ef8cb0b,002f067b028a3643ad3a0969c7a0f3dc,002f90a6eb386bc43bc9ba200db31a89,0030fbb95fbe7e61f798a80edb01a8e9,00331de1659c7f4fb660c8810e6de3f5,0040a8417928d0d5abd5169cd7877181,0049e8442c2a3e4a8d1ff5a9549abd53,0057f8b7c332d630b992d6a8ca79748c,006431d77c665533ac99b501d8a6ab06,...,ff217adc6431eb19f8af637ddd66a2d8,ff582f34a30b0646c52541de86107865,ff58662c328f81d3ee549c9caa942f39,ff6ed6bbecff417c54e415deed2caa67,ff9f37a06f82b3db748599da8b08eb66,ffa5d7160302ea1cc18a275a81930a42,ffa8532faa3bdc63c11d3124b78022ca,ffbbb95cb0540341b9900df515ba893e,ffc57553e2b7342c1f572edb68e0651f,fff4f0c85a4d710abe06599e1ed08a42
customer_id,,,,,,,,,,,,,,,,,,,,,
001f35d9f262c558fd065346fbf5801d,1.000000,-0.015385,-0.015385,-0.015385,-0.015385,1.000000,-0.015385,-0.015385,-0.015385,-0.015385,...,-0.015385,1.000000,-0.015385,-0.015385,-0.015385,1.000000,-0.015385,-0.015385,-0.015385,-0.015385
002c625393dfa194828b462a6ef8cb0b,-0.015385,1.000000,-0.015385,-0.015385,-0.015385,-0.015385,-0.015385,-0.015385,-0.015385,-0.015385,...,-0.015385,-0.015385,-0.015385,-0.015385,-0.015385,-0.015385,-0.015385,-0.015385,-0.015385,-0.015385

				**produto_correlacao**

product_category_name,agro_industria_e_comercio,alimentos,alimentos_bebidas,artes,artes_e_artesanato,artigos_de_festas,artigos_de_natal,audio,automotivo,bebes,...,pet_shop,portateis_casa_forno_e_cafe,portateis_cozinha_e_preparadores_de_alimentos,relogios_presentes,seguros_e_servicos,sinalizacao_e_seguranca,tablets_impressao_imagem,telefonia,telefonia_fixa,utilidades_domesticas
product_category_name,,,,,,,,,,,,,,,,,,,,,
agro_industria_e_comercio,1.000000,-0.002952,-0.002094,-0.001975,-0.000666,-0.000867,-0.001572,-0.002602,-0.008844,-0.007569,...,-0.005791,-0.001203,-0.000519,-0.010724,-0.000196,-0.001644,-0.001234,-0.009195,-0.002047,-0.010983
alimentos,-0.002952,1.000000,-0.003297,-0.003110,-0.001048,-0.001365,-0.002475,-0.004097,-0.013926,-0.011918,...,-0.007942,-0.001894,-0.000818,-0.016886,-0.000309,-0.002588,-0.001944,-0.014479,0.000005,-0.017294

In [5]:
# This function calls the html_code_table function to create a .html file for Most Popular Products
def most_popular_table():
    most_popular_prods = prod_ranking_model.sort_values('rank_popularidade',ascending=True)[['product_category_name','review_score']].head(10).reset_index(drop=True)
    
# This function calls the html_code_table function to create a .html file for Top Selling Products
def top_sell_table():
    top_sell_prods = prod_ranking_model.sort_values('rank_top_vendidos',ascending=True)[['product_category_name','review_score']].head(10).reset_index(drop=True)

In [10]:
most_popular_prods = prod_ranking_model.sort_values('rank_popularidade',ascending=True)[['product_category_name','review_score']].head(10).reset_index(drop=True)
most_popular_prods

  product_category_name  review_score
0       cama_mesa_banho             5
1       cama_mesa_banho             4
2       cama_mesa_banho             5
3       cama_mesa_banho             5
4       cama_mesa_banho             5
5       cama_mesa_banho             4
6       cama_mesa_banho             5
7       cama_mesa_banho             5
8       cama_mesa_banho             5
9       cama_mesa_banho             5

In [11]:
top_sell_prods = prod_ranking_model.sort_values('rank_top_vendidos',ascending=True)[['product_category_name','review_score']].head(10).reset_index(drop=True)
top_sell_prods

   product_category_name  review_score
0  utilidades_domesticas             5
1     relogios_presentes             5
2     relogios_presentes             5
3     relogios_presentes             5
4     relogios_presentes             5
5     relogios_presentes             5
6     relogios_presentes             5
7     relogios_presentes             5
8     relogios_presentes             5
9     relogios_presentes             5

In [ ]:
# This function calls the html_code_table function to create a .html file for Most Popular Products of a Customer
def cust_most_popular_table(cust_name):
    cust_most_popular_prods = cust_prod_ranking_model[cust_prod_ranking_model['customer_id'] == cust_name]
    cust_most_popular_prods = cust_most_popular_prods.sort_values('rank_popularidade',ascending=True)[['product_category_name','review_score']].head(10).reset_index(drop=True)
      
# This function calls the html_code_table function to create a .html file for Top Selling Products of a Customer
def cust_top_sell_table(cust_name):
    cust_top_sell_prods = cust_prod_ranking_model[cust_prod_ranking_model['customer_id'] == cust_name]
    cust_top_sell_prods = cust_top_sell_prods.sort_values('rank_top_vendidos',ascending=True)[['product_category_name','review_score']].head(10).reset_index(drop=True)

In [12]:
cust_prod_ranking_model.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98019 entries, 0 to 98018
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            98019 non-null  object
 1   product_category_name  98019 non-null  object
 2   quantidade_item        98019 non-null  int64
 3   rank_top_vendidos      98019 non-null  int64
 4   customer_city          98019 non-null  object
 5   customer_state         98019 non-null  object
 6   review_score           98019 non-null  int64
 7   no_pedidos             98019 non-null  int64
 8   rank_popularidade      98019 non-null  int64
 9   price                  98019 non-null  float64
dtypes: float64(1), int64(5), object(4)
memory usage: 8.2+ MB

In [13]:
cust_prod_ranking_model.sort_values('quantidade_item',ascending=False).head(10)

,customer_id,product_category_name,quantidade_item,rank_top_vendidos,customer_city,customer_state,review_score,no_pedidos,rank_popularidade,price
73089,be1c4e52bb71e0c54b11a26b8e8d59f2,cama_mesa_banho,484,24930,sao paulo,SP,1,1,24930,1999.98
96589,fc3d1daec319d62d49bfb5e1f83123e9,beleza_saude,441,1430,sao paulo,SP,1,1,1430,3124.00
72834,bd5d39761aa56689a265d95d8d32b8be,automotivo,400,25185,goiania,GO,1,1,25185,2258.00
73088,be1b70680b9f9694d8c70f41fa3dc92b,informatica_acessorios,400,24931,sao paulo,SP,1,1,24931,3699.99
66670,adb32467ecc74b53576d9d13a5a55891,ferramentas_jardim,225,31349,goiania,GO,5,1,31349,3930.00
6435,10de381f8a8d23fff822753305f71cae,moveis_decoracao,225,91584,uniao da vitoria,PR,5,1,91584,1899.00
64128,a7693fba2ff9583c78751f2b66ecab9d,telefonia,196,33891,indaiatuba,SP,1,1,33891,2428.00
82158,d5f2b3f597c7ccafbb5cac0bcc3d6024,ferramentas_jardim,196,15861,santos,SP,1,1,15861,3930.00
47912,7d321bd4e8ba1caf74c4c1aabd9ae524,telefonia,169,50107,sao paulo,SP,3,1,50107,2428.00
72989,bdced1e75dafe66bd70dc84af644bca7,moveis_decoracao,144,25030,taubate,SP,5,1,25030,1899.00

In [14]:
cust_most_popular_prods = cust_prod_ranking_model[cust_prod_ranking_model['customer_id'] == 'be1c4e52bb71e0c54b11a26b8e8d59f2']
cust_most_popular_prods = cust_most_popular_prods.sort_values('rank_popularidade',ascending=True)[['product_category_name','review_score']].head(10).reset_index(drop=True)
 
cust_most_popular_prods

  product_category_name  review_score
0       cama_mesa_banho             1

In [15]:
cust_top_sell_prods = cust_prod_ranking_model[cust_prod_ranking_model['customer_id'] == 'be1c4e52bb71e0c54b11a26b8e8d59f2']
cust_top_sell_prods = cust_top_sell_prods.sort_values('rank_top_vendidos',ascending=True)[['product_category_name','review_score']].head(10).reset_index(drop=True)
cust_top_sell_prods

  product_category_name  review_score
0       cama_mesa_banho             1

In [16]:
# This function performs the below functionality for the input customer
# - get the list of customers with similar purchasing pattern and correlation coefficient
# - for each customer from the list,
#   - get the products purchased
#   - multiply the purchased qty with customer correlation coefficient
# - aggregate the qty_corr by product
# - ignore the products already purchased by the input customer
# - sort them by the qty_corr
# - calls the html_code_table function to create a .html file for top 10 products customer may like

def recommend_prod_cust(cust_name):
    similar_custs_corr = cust_correlation_model.loc[cust_name].sort_values(ascending=False)
    
    prod_by_similar_custs = pd.DataFrame()
    
    # get the products purchased by each customer and multiply with the customer correlation coefficient
    for i in range(len(similar_custs_corr)):
        if similar_custs_corr.index[i] != cust_name:
            cust_top_sell_prods = cust_prod_ranking_model[cust_prod_ranking_model['customer_id'] == similar_custs_corr.index[i]]
            cust_top_sell_prods = cust_top_sell_prods[['product_category_name','review_score','quantidade_item']].reset_index(drop=True)
            cust_top_sell_prods['Qty_Corr'] = cust_top_sell_prods['quantidade_item'] * similar_custs_corr.iloc[i]
            prod_by_similar_custs = pd.concat([cust_top_sell_prods,prod_by_similar_custs])
    
    # aggregate the Qty Correlation by Product
    prod_by_similar_custs = prod_by_similar_custs.groupby('product_category_name').agg({'Qty_Corr':'sum','review_score':'max'})
    prod_by_similar_custs.reset_index(inplace=True)
    #print(prod_by_similar_custs.head(20))
    
    # ignore the products already purchased by the input customer
    # merge prod_by_similar_custs and customer purchased products and drop the rows with No_of_orders being Not Null
    input_cust_top_sell_prods = cust_prod_ranking_model[cust_prod_ranking_model['customer_id'] == cust_name]
    df_merge = pd.merge(prod_by_similar_custs,input_cust_top_sell_prods[['product_category_name','no_pedidos']],how='left',on='product_category_name')
    prod_recommend_to_cust = df_merge[df_merge['no_pedidos'].isnull()]
    
    # sort the dataframe on Qty_Corr
    prod_recommend_to_cust = prod_recommend_to_cust.sort_values('Qty_Corr',ascending=False)[['product_category_name','review_score']].head(10).reset_index(drop=True)
    
    #print(prod_recommend_to_cust)

In [38]:
similar_custs_corr = cust_correlation_model.loc['001f35d9f262c558fd065346fbf5801d'].sort_values(ascending=False)
    
prod_by_similar_custs = pd.DataFrame()

In [39]:
for i in range(len(similar_custs_corr)):
    if similar_custs_corr.index[i] != '001f35d9f262c558fd065346fbf5801d':
        cust_top_sell_prods = cust_prod_ranking_model[cust_prod_ranking_model['customer_id'] == similar_custs_corr.index[i]]
        cust_top_sell_prods = cust_top_sell_prods[['product_category_name','review_score','quantidade_item']].reset_index(drop=True)
        cust_top_sell_prods['Qty_Corr'] = cust_top_sell_prods['quantidade_item'] * similar_custs_corr.iloc[i]
        prod_by_similar_custs = pd.concat([cust_top_sell_prods,prod_by_similar_custs])

In [40]:
prod_by_similar_custs = prod_by_similar_custs.groupby('product_category_name').agg({'Qty_Corr':'sum','review_score':'max'})
prod_by_similar_custs.reset_index(inplace=True)

In [41]:
input_cust_top_sell_prods = cust_prod_ranking_model[cust_prod_ranking_model['customer_id'] == '001f35d9f262c558fd065346fbf5801d']
df_merge = pd.merge(prod_by_similar_custs,input_cust_top_sell_prods[['product_category_name','no_pedidos']],how='left',on='product_category_name')
prod_recommend_to_cust = df_merge[df_merge['no_pedidos'].isnull()]

In [42]:
prod_recommend_to_cust = prod_recommend_to_cust.sort_values('Qty_Corr',ascending=False)[['product_category_name','review_score']].head(10).reset_index(drop=True)
    
print(prod_recommend_to_cust)

           product_category_name  review_score
0               moveis_decoracao             5
1                        bebidas             5
2         fashion_roupa_feminina             3
3                fraldas_higiene             5
4                     la_cuisine             5
5              livros_importados             5
6                   dvds_blu_ray             5
7  fashion_roupa_infanto_juvenil             5
8      moveis_colchao_e_estofado             5
9                         musica             5

In [20]:
# This function performs the below functionality for the input product
# - get the list of products with similar purchasing pattern and correlation coefficient
# - get the price of each product from prod_ranking_model
# - drop the product in view from the list
# - sort them by the correlation coefficient
# - calls the html_code_table function to create a .html file for top 10 products similar to the product in view

def similar_prods(prod_name):
    similar_prods_corr = prod_correlation_model.loc[prod_name].sort_values(ascending=False)
    
    similar_prods = pd.merge(similar_prods_corr,prod_ranking_model[['product_category_name','review_score']],how='left',on='product_category_name')
    
    drop_index = similar_prods[similar_prods['product_category_name'] == prod_name].index
    similar_prods.drop(index=drop_index,inplace=True)
    
    similar_prods = similar_prods[['product_category_name','review_score']].head(10).reset_index(drop=True)

In [32]:
similar_prods_corr = prod_correlation_model.loc['moveis_decoracao'].sort_values(ascending=False)

In [33]:
similar_prods = pd.merge(similar_prods_corr,prod_ranking_model[['product_category_name','review_score']],how='left',on='product_category_name')

In [34]:
drop_index = similar_prods[similar_prods['product_category_name'] == 'moveis_decoracao'].index
similar_prods.drop(index=drop_index,inplace=True)

In [35]:
similar_prods = similar_prods[['product_category_name','review_score']].head(10).reset_index(drop=True)
similar_prods

  product_category_name  review_score
0    seguros_e_servicos             1
1    seguros_e_servicos             1
2    seguros_e_servicos             4
3    seguros_e_servicos             4
4                flores             5
5                flores             5
6                flores             5
7                flores             5
8                flores             5
9                flores             5